# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Local
*.local
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# OS
Thumbs.db
